<h1> <%=Players.Data.firstName%> </h1>

<p><%=playersData.ID%></p>
<p> <%=playersData.firstName%> </p>
<p> <%=playersData.lastName%> </p>
<p> <%=playersData.email%> </p>
<p> <%=playersData.phoneNumber%> </p>